@import url(../lib/bootstrap/dist/css/bootstrap.min.css);
@import url(../lib/font-awesome/css/font-awesome.min.css);
.chart {
  border: 1px solid steelblue; }

.circle {
  fill: steelblue;
  stroke: #000;
  stroke-width: 2; }

.circle.L {
  fill: #6176b4;
  stroke: #283354; }

i.L {
  color: #6176b4; }

.circle.OH {
  fill: #1982a7;
  stroke: #051a22; }

i.OH {
  color: #1982a7; }

.circle.GA {
  fill: #2e8bb3;
  stroke: #0f2c39; }

i.GA {
  color: #2e8bb3; }

.circle.NY {
  fill: #696450;
  stroke: #12110e; }

i.NY {
  color: #696450; }

.circle.LA {
  fill: #1293a8;
  stroke: #031a1e; }

i.LA {
  color: #1293a8; }

.circle.TX {
  fill: #a52154;
  stroke: #260813; }

i.TX {
  color: #a52154; }

.circle.IA {
  fill: #273dd4;
  stroke: #0f1853; }

i.IA {
  color: #273dd4; }

.circle.AK {
  fill: #e5c6d9;
  stroke: #b55d93; }

i.AK {
  color: #e5c6d9; }

.circle.SC {
  fill: #a15160;
  stroke: #3b1e23; }

i.SC {
  color: #a15160; }

.circle.WI {
  fill: #98e77e;
  stroke: #43ac20; }

i.WI {
  color: #98e77e; }

.circle.OK {
  fill: #9a7b29;
  stroke: #211a09; }

i.OK {
  color: #9a7b29; }

.circle.NC {
  fill: #be6a67;
  stroke: #622c2a; }

i.NC {
  color: #be6a67; }

.circle.GA-SC {
  fill: #6ca3b3;
  stroke: #2e4f58; }

i.GA-SC {
  color: #6ca3b3; }

.circle.CA {
  fill: #d0819d;
  stroke: #863250; }

i.CA {
  color: #d0819d; }

.circle.MD {
  fill: #b2335d;
  stroke: #3b111f; }

i.MD {
  color: #b2335d; }

.circle.WA {
  fill: #027b64;
  stroke: black; }

i.WA {
  color: #027b64; }

.circle.NJ {
  fill: #2d773b;
  stroke: #030804; }

i.NJ {
  color: #2d773b; }

.circle.ND {
  fill: #f76e6e;
  stroke: #c10b0b; }

i.ND {
  color: #f76e6e; }

.circle.VA {
  fill: #634d00;
  stroke: black; }

i.VA {
  color: #634d00; }

.circle.ID {
  fill: #34fdab;
  stroke: #01975a; }

i.ID {
  color: #34fdab; }

.circle.MA {
  fill: #64e1b8;
  stroke: #1c906a; }

i.MA {
  color: #64e1b8; }

.circle.KY {
  fill: #a99731;
  stroke: #322d0f; }

i.KY {
  color: #a99731; }

.circle.MT {
  fill: #c321bb;
  stroke: #400b3e; }

i.MT {
  color: #c321bb; }

.circle.FL {
  fill: #6ec488;
  stroke: #2c6d40; }

i.FL {
  color: #6ec488; }

.circle.VT {
  fill: #41fff5;
  stroke: #00a79e; }

i.VT {
  color: #41fff5; }

.circle.NM {
  fill: #c469fe;
  stroke: #7e01cd; }

i.NM {
  color: #c469fe; }

.circle.UT {
  fill: #3b3270;
  stroke: #030306; }

i.UT {
  color: #3b3270; }

.circle.IL {
  fill: #9ea954;
  stroke: #3e4321; }

i.IL {
  color: #9ea954; }

.circle.WV {
  fill: #998502;
  stroke: #020200; }

i.WV {
  color: #998502; }

.circle.TN {
  fill: #b854bd;
  stroke: #542157; }

i.TN {
  color: #b854bd; }

.circle.WY {
  fill: #f85cde;
  stroke: #b30897; }

i.WY {
  color: #f85cde; }

.circle.CO {
  fill: #dc4339;
  stroke: #691813; }

i.CO {
  color: #dc4339; }

.circle.MO {
  fill: #334f38;
  stroke: black; }

i.MO {
  color: #334f38; }

.circle.AR {
  fill: #4a353f;
  stroke: black; }

i.AR {
  color: #4a353f; }

.circle.IA-IL {
  fill: #3b090c;
  stroke: black; }

i.IA-IL {
  color: #3b090c; }

.circle.MI {
  fill: #ef7e75;
  stroke: #b62115; }

i.MI {
  color: #ef7e75; }

.circle.KS {
  fill: #f04328;
  stroke: #771708; }

i.KS {
  color: #f04328; }

.circle.DE {
  fill: #dcb88f;
  stroke: #a06d32; }

i.DE {
  color: #dcb88f; }

.circle.IN {
  fill: #111c04;
  stroke: black; }

i.IN {
  color: #111c04; }

.circle.PA {
  fill: #353726;
  stroke: black; }

i.PA {
  color: #353726; }

.circle.OR {
  fill: #11b6ac;
  stroke: #042a28; }

i.OR {
  color: #11b6ac; }

.circle.ND-MN {
  fill: #566ab1;
  stroke: #232c4b; }

i.ND-MN {
  color: #566ab1; }

.circle.AZ {
  fill: #84e30f;
  stroke: #315306; }

i.AZ {
  color: #84e30f; }

.circle.CT {
  fill: #72074c;
  stroke: black; }

i.CT {
  color: #72074c; }

.circle.NE {
  fill: #c97ffb;
  stroke: #8507da; }

i.NE {
  color: #c97ffb; }

.circle.MS {
  fill: #a6230a;
  stroke: #160501; }

i.MS {
  color: #a6230a; }

.circle.HI {
  fill: #f92e41;
  stroke: #8a0411; }

i.HI {
  color: #f92e41; }

.circle.MO-KS {
  fill: #2a6aff;
  stroke: #002b90; }

i.MO-KS {
  color: #2a6aff; }

.circle.NV {
  fill: #2a266f;
  stroke: black; }

i.NV {
  color: #2a266f; }

.circle.NH {
  fill: #8b76b8;
  stroke: #423362; }

i.NH {
  color: #8b76b8; }

.circle.MN {
  fill: #5d1038;
  stroke: black; }

i.MN {
  color: #5d1038; }

.circle.ME {
  fill: #2f2f2a;
  stroke: black; }

i.ME {
  color: #2f2f2a; }

.circle.RI {
  fill: #a3d40e;
  stroke: #354405; }

i.RI {
  color: #a3d40e; }

.circle.SD {
  fill: #2cbac9;
  stroke: #11464b; }

i.SD {
  color: #2cbac9; }

.circle.MO-IL {
  fill: #34714d;
  stroke: #040806; }

i.MO-IL {
  color: #34714d; }

.circle.DC-VA {
  fill: #d4fe1e;
  stroke: #6a8201; }

i.DC-VA {
  color: #d4fe1e; }

.circle.VA-WV {
  fill: #493106;
  stroke: black; }

i.VA-WV {
  color: #493106; }

/*# sourceMappingURL=app.css.map */
