@import url(../lib/bootstrap/dist/css/bootstrap.min.css);
@import url(../lib/font-awesome/css/font-awesome.min.css);
.chart {
  min-height: 625px; }

.moving-calculator {
  padding-top: 100px; }

.circle {
  fill: steelblue;
  stroke: #000;
  stroke-width: 2; }

.cpi_info {
  position: absolute;
  z-index: 10;
  visibility: hidden;
  border: 1px solid steelblue;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  top: 0;
  left: 0; }
  .cpi_info h4 {
    margin-top: 0px;
    color: steelblue; }
  .cpi_info ul {
    margin-bottom: 0px; }
  .cpi_info .cpi_info_control {
    float: right; }
  .cpi_info .cpi_info_control.icons {
    font-size: 1.5em;
    margin-top: -8px;
    margin-right: -2px; }

.circle.L {
  fill: #19dcf9;
  stroke: #047d8f; }

.circle.L:hover {
  fill: #047d8f;
  stroke: steelblue; }

i.L {
  color: #19dcf9; }

.circle.OH {
  fill: #e84b94;
  stroke: #9f1455; }

.circle.OH:hover {
  fill: #9f1455;
  stroke: steelblue; }

i.OH {
  color: #e84b94; }

.circle.GA {
  fill: #9d2d74;
  stroke: #3a112b; }

.circle.GA:hover {
  fill: #3a112b;
  stroke: steelblue; }

i.GA {
  color: #9d2d74; }

.circle.NY {
  fill: #49042d;
  stroke: black; }

.circle.NY:hover {
  fill: black;
  stroke: steelblue; }

i.NY {
  color: #49042d; }

.circle.LA {
  fill: #7e4dd9;
  stroke: #431d89; }

.circle.LA:hover {
  fill: #431d89;
  stroke: steelblue; }

i.LA {
  color: #7e4dd9; }

.circle.TX {
  fill: #bf73e4;
  stroke: #8523b5; }

.circle.TX:hover {
  fill: #8523b5;
  stroke: steelblue; }

i.TX {
  color: #bf73e4; }

.circle.IA {
  fill: #ac1a82;
  stroke: #3d092e; }

.circle.IA:hover {
  fill: #3d092e;
  stroke: steelblue; }

i.IA {
  color: #ac1a82; }

.circle.AK {
  fill: #a1a8a1;
  stroke: #616961; }

.circle.AK:hover {
  fill: #616961;
  stroke: steelblue; }

i.AK {
  color: #a1a8a1; }

.circle.SC {
  fill: #d02649;
  stroke: #641223; }

.circle.SC:hover {
  fill: #641223;
  stroke: steelblue; }

i.SC {
  color: #d02649; }

.circle.WI {
  fill: #20773b;
  stroke: #051309; }

.circle.WI:hover {
  fill: #051309;
  stroke: steelblue; }

i.WI {
  color: #20773b; }

.circle.OK {
  fill: #d5fef4;
  stroke: #58fbd3; }

.circle.OK:hover {
  fill: #58fbd3;
  stroke: steelblue; }

i.OK {
  color: #d5fef4; }

.circle.NC {
  fill: #4cafa9;
  stroke: #255653; }

.circle.NC:hover {
  fill: #255653;
  stroke: steelblue; }

i.NC {
  color: #4cafa9; }

.circle.GA-SC {
  fill: #3f35bb;
  stroke: #1e1958; }

.circle.GA-SC:hover {
  fill: #1e1958;
  stroke: steelblue; }

i.GA-SC {
  color: #3f35bb; }

.circle.CA {
  fill: #352c13;
  stroke: black; }

.circle.CA:hover {
  fill: black;
  stroke: steelblue; }

i.CA {
  color: #352c13; }

.circle.MD {
  fill: #6aa8b2;
  stroke: #356067; }

.circle.MD:hover {
  fill: #356067;
  stroke: steelblue; }

i.MD {
  color: #6aa8b2; }

.circle.WA {
  fill: #d24418;
  stroke: #601f0b; }

.circle.WA:hover {
  fill: #601f0b;
  stroke: steelblue; }

i.WA {
  color: #d24418; }

.circle.NJ {
  fill: #0c3fa3;
  stroke: #03112c; }

.circle.NJ:hover {
  fill: #03112c;
  stroke: steelblue; }

i.NJ {
  color: #0c3fa3; }

.circle.ND {
  fill: #4707cc;
  stroke: #1c0351; }

.circle.ND:hover {
  fill: #1c0351;
  stroke: steelblue; }

i.ND {
  color: #4707cc; }

.circle.VA {
  fill: #b6bc56;
  stroke: #65692a; }

.circle.VA:hover {
  fill: #65692a;
  stroke: steelblue; }

i.VA {
  color: #b6bc56; }

.circle.ID {
  fill: #cb7baa;
  stroke: #8e386b; }

.circle.ID:hover {
  fill: #8e386b;
  stroke: steelblue; }

i.ID {
  color: #cb7baa; }

.circle.MA {
  fill: #893968;
  stroke: #2f1424; }

.circle.MA:hover {
  fill: #2f1424;
  stroke: steelblue; }

i.MA {
  color: #893968; }

.circle.KY {
  fill: #2ca01c;
  stroke: #0e3309; }

.circle.KY:hover {
  fill: #0e3309;
  stroke: steelblue; }

i.KY {
  color: #2ca01c; }

.circle.MT {
  fill: #f1256d;
  stroke: #8d0938; }

.circle.MT:hover {
  fill: #8d0938;
  stroke: steelblue; }

i.MT {
  color: #f1256d; }

.circle.FL {
  fill: #9df537;
  stroke: #5ca408; }

.circle.FL:hover {
  fill: #5ca408;
  stroke: steelblue; }

i.FL {
  color: #9df537; }

.circle.VT {
  fill: #2969ab;
  stroke: #102a44; }

.circle.VT:hover {
  fill: #102a44;
  stroke: steelblue; }

i.VT {
  color: #2969ab; }

.circle.NM {
  fill: #4e2164;
  stroke: #030104; }

.circle.NM:hover {
  fill: #030104;
  stroke: steelblue; }

i.NM {
  color: #4e2164; }

.circle.UT {
  fill: #d733b8;
  stroke: #741762; }

.circle.UT:hover {
  fill: #741762;
  stroke: steelblue; }

i.UT {
  color: #d733b8; }

.circle.IL {
  fill: #5adc02;
  stroke: #265e01; }

.circle.IL:hover {
  fill: #265e01;
  stroke: steelblue; }

i.IL {
  color: #5adc02; }

.circle.WV {
  fill: #5671fb;
  stroke: #0526cd; }

.circle.WV:hover {
  fill: #0526cd;
  stroke: steelblue; }

i.WV {
  color: #5671fb; }

.circle.TN {
  fill: #a6b573;
  stroke: #626e3a; }

.circle.TN:hover {
  fill: #626e3a;
  stroke: steelblue; }

i.TN {
  color: #a6b573; }

.circle.WY {
  fill: #7c2b4e;
  stroke: #1d0a12; }

.circle.WY:hover {
  fill: #1d0a12;
  stroke: steelblue; }

i.WY {
  color: #7c2b4e; }

.circle.CO {
  fill: #5de407;
  stroke: #2b6803; }

.circle.CO:hover {
  fill: #2b6803;
  stroke: steelblue; }

i.CO {
  color: #5de407; }

.circle.MO {
  fill: #ea23cd;
  stroke: #810c70; }

.circle.MO:hover {
  fill: #810c70;
  stroke: steelblue; }

i.MO {
  color: #ea23cd; }

.circle.AR {
  fill: #2fd5aa;
  stroke: #166e57; }

.circle.AR:hover {
  fill: #166e57;
  stroke: steelblue; }

i.AR {
  color: #2fd5aa; }

.circle.IA-IL {
  fill: #92e550;
  stroke: #539e17; }

.circle.IA-IL:hover {
  fill: #539e17;
  stroke: steelblue; }

i.IA-IL {
  color: #92e550; }

.circle.MI {
  fill: #675160;
  stroke: #20191d; }

.circle.MI:hover {
  fill: #20191d;
  stroke: steelblue; }

i.MI {
  color: #675160; }

.circle.KS {
  fill: #23c9c4;
  stroke: #105c5a; }

.circle.KS:hover {
  fill: #105c5a;
  stroke: steelblue; }

i.KS {
  color: #23c9c4; }

.circle.DE {
  fill: #e07111;
  stroke: #693508; }

.circle.DE:hover {
  fill: #693508;
  stroke: steelblue; }

i.DE {
  color: #e07111; }

.circle.IN {
  fill: #23f8da;
  stroke: #059782; }

.circle.IN:hover {
  fill: #059782;
  stroke: steelblue; }

i.IN {
  color: #23f8da; }

.circle.PA {
  fill: #bd443c;
  stroke: #5c211d; }

.circle.PA:hover {
  fill: #5c211d;
  stroke: steelblue; }

i.PA {
  color: #bd443c; }

.circle.OR {
  fill: #43dd03;
  stroke: #1d5f01; }

.circle.OR:hover {
  fill: #1d5f01;
  stroke: steelblue; }

i.OR {
  color: #43dd03; }

.circle.ND-MN {
  fill: #1762d5;
  stroke: #0b2d62; }

.circle.ND-MN:hover {
  fill: #0b2d62;
  stroke: steelblue; }

i.ND-MN {
  color: #1762d5; }

.circle.AZ {
  fill: #e80a65;
  stroke: #6e0530; }

.circle.AZ:hover {
  fill: #6e0530;
  stroke: steelblue; }

i.AZ {
  color: #e80a65; }

.circle.CT {
  fill: #2c6e1e;
  stroke: #040a03; }

.circle.CT:hover {
  fill: #040a03;
  stroke: steelblue; }

i.CT {
  color: #2c6e1e; }

.circle.NE {
  fill: #5fd623;
  stroke: #2e6811; }

.circle.NE:hover {
  fill: #2e6811;
  stroke: steelblue; }

i.NE {
  color: #5fd623; }

.circle.MS {
  fill: #cbcfc4;
  stroke: #8d967e; }

.circle.MS:hover {
  fill: #8d967e;
  stroke: steelblue; }

i.MS {
  color: #cbcfc4; }

.circle.HI {
  fill: #62b772;
  stroke: #30693b; }

.circle.HI:hover {
  fill: #30693b;
  stroke: steelblue; }

i.HI {
  color: #62b772; }

.circle.MO-KS {
  fill: #9182be;
  stroke: #51427f; }

.circle.MO-KS:hover {
  fill: #51427f;
  stroke: steelblue; }

i.MO-KS {
  color: #9182be; }

.circle.NV {
  fill: #4d0250;
  stroke: black; }

.circle.NV:hover {
  fill: black;
  stroke: steelblue; }

i.NV {
  color: #4d0250; }

.circle.NH {
  fill: #be1601;
  stroke: #3f0700; }

.circle.NH:hover {
  fill: #3f0700;
  stroke: steelblue; }

i.NH {
  color: #be1601; }

.circle.MN {
  fill: #586f18;
  stroke: #050601; }

.circle.MN:hover {
  fill: #050601;
  stroke: steelblue; }

i.MN {
  color: #586f18; }

.circle.ME {
  fill: #e245ca;
  stroke: #91177e; }

.circle.ME:hover {
  fill: #91177e;
  stroke: steelblue; }

i.ME {
  color: #e245ca; }

.circle.RI {
  fill: #708336;
  stroke: #232911; }

.circle.RI:hover {
  fill: #232911;
  stroke: steelblue; }

i.RI {
  color: #708336; }

.circle.SD {
  fill: #eafec3;
  stroke: #befc46; }

.circle.SD:hover {
  fill: #befc46;
  stroke: steelblue; }

i.SD {
  color: #eafec3; }

.circle.MO-IL {
  fill: #e6b257;
  stroke: #a57219; }

.circle.MO-IL:hover {
  fill: #a57219;
  stroke: steelblue; }

i.MO-IL {
  color: #e6b257; }

.circle.DC-VA {
  fill: #01b19e;
  stroke: #00322d; }

.circle.DC-VA:hover {
  fill: #00322d;
  stroke: steelblue; }

i.DC-VA {
  color: #01b19e; }

.circle.VA-WV {
  fill: #357724;
  stroke: #091506; }

.circle.VA-WV:hover {
  fill: #091506;
  stroke: steelblue; }

i.VA-WV {
  color: #357724; }

.circle.max {
  stroke: #ff0000; }

/*# sourceMappingURL=app.css.map */
