@import "../lib/bootstrap/dist/css/bootstrap.min.css";
@import "../lib/font-awesome/css/font-awesome.min.css";
//@import "../lib/angular-multi-select/angular-multi-select.css"

.disclaimer {
    float: right;
    font-size: .75em;
}
.instructions {
    font-family: serif;
//margin-top: 50px;
}
.movingResults {
    min-height: 60px;
}
.chart {
    //border: 1px solid steelblue;
    min-height: 750px;
}
.moving-calculator {
    padding-top: 30px;
}
.circle {
    fill: steelblue;
    stroke: #000;
    stroke-width: 2;
}
line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1px;
}
.cpi_info {
    position: absolute;
    z-index: 10;
    visibility: hidden;
    border: 1px solid steelblue;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    top: 0;
    left: 0;
    h4 {
        margin-top: 0px;
        color: steelblue;
    }
    ul {
        margin-bottom: 0px;
    }
    .cpi_info_control {
        float:right;
    }
    .cpi_info_control.icons {
        font-size: 1.5em;
        margin-top: -8px;
        margin-right: -2px;
    }
    .cpi_info_body {
    }
}
$states: L OH GA NY LA TX IA AK SC WI OK NC GA-SC CA MD WA NJ ND VA ID MA KY MT FL VT NM UT IL WV TN WY CO MO AR IA-IL MI KS DE IN PA OR ND-MN AZ CT NE MS HI MO-KS NV NH MN ME RI SD MO-IL DC-VA VA-WV;
@each $state in $states {
    $red: random(256)-1;
    $green: random(256)-1;
    $blue: random(256)-1;
    $rgb: rgb($red,$green,$blue);
    .circle.#{$state} {
        fill: $rgb;
        stroke: darken($rgb,25%);
    }
    .circle.#{$state}:hover {
        fill: darken($rgb,25%);
        stroke: steelblue;
    }
    i.#{$state} {
        color: rgb($red,$green,$blue);
    }
}
.circle.parent {
    stroke: orange;
}
.circle.max {
    stroke: #ff0000;
}