@import url(../lib/bootstrap/dist/css/bootstrap.min.css);
@import url(../lib/font-awesome/css/font-awesome.min.css);
.disclaimer {
  float: right;
  font-size: .75em; }

.instructions {
  font-family: serif; }

.movingResults {
  min-height: 60px; }

.chart {
  min-height: 750px; }

.moving-calculator {
  padding-top: 30px; }

.circle {
  fill: steelblue;
  stroke: #000;
  stroke-width: 2; }

line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1px; }

.cpi_info {
  position: absolute;
  z-index: 10;
  visibility: hidden;
  border: 1px solid steelblue;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  top: 0;
  left: 0; }
  .cpi_info h4 {
    margin-top: 0px;
    color: steelblue; }
  .cpi_info ul {
    margin-bottom: 0px; }
  .cpi_info .cpi_info_control {
    float: right; }
  .cpi_info .cpi_info_control.icons {
    font-size: 1.5em;
    margin-top: -8px;
    margin-right: -2px; }

.circle.L {
  fill: #8e8db9;
  stroke: #4d4c7b; }

.circle.L:hover {
  fill: #4d4c7b;
  stroke: steelblue; }

i.L {
  color: #8e8db9; }

.circle.OH {
  fill: #535979;
  stroke: #1f212d; }

.circle.OH:hover {
  fill: #1f212d;
  stroke: steelblue; }

i.OH {
  color: #535979; }

.circle.GA {
  fill: #d1a7dd;
  stroke: #a14bb9; }

.circle.GA:hover {
  fill: #a14bb9;
  stroke: steelblue; }

i.GA {
  color: #d1a7dd; }

.circle.NY {
  fill: #d15485;
  stroke: #822348; }

.circle.NY:hover {
  fill: #822348;
  stroke: steelblue; }

i.NY {
  color: #d15485; }

.circle.LA {
  fill: #3effd6;
  stroke: #00be95; }

.circle.LA:hover {
  fill: #00be95;
  stroke: steelblue; }

i.LA {
  color: #3effd6; }

.circle.TX {
  fill: #b42564;
  stroke: #4a0f29; }

.circle.TX:hover {
  fill: #4a0f29;
  stroke: steelblue; }

i.TX {
  color: #b42564; }

.circle.IA {
  fill: #a0c53f;
  stroke: #52661f; }

.circle.IA:hover {
  fill: #52661f;
  stroke: steelblue; }

i.IA {
  color: #a0c53f; }

.circle.AK {
  fill: #3f3ade;
  stroke: #191683; }

.circle.AK:hover {
  fill: #191683;
  stroke: steelblue; }

i.AK {
  color: #3f3ade; }

.circle.SC {
  fill: #c2c3a7;
  stroke: #8a8b5f; }

.circle.SC:hover {
  fill: #8a8b5f;
  stroke: steelblue; }

i.SC {
  color: #c2c3a7; }

.circle.WI {
  fill: #b00711;
  stroke: #350205; }

.circle.WI:hover {
  fill: #350205;
  stroke: steelblue; }

i.WI {
  color: #b00711; }

.circle.OK {
  fill: #6352e2;
  stroke: #291a9b; }

.circle.OK:hover {
  fill: #291a9b;
  stroke: steelblue; }

i.OK {
  color: #6352e2; }

.circle.NC {
  fill: #c120f0;
  stroke: #6b0987; }

.circle.NC:hover {
  fill: #6b0987;
  stroke: steelblue; }

i.NC {
  color: #c120f0; }

.circle.GA-SC {
  fill: #d3b720;
  stroke: #64570f; }

.circle.GA-SC:hover {
  fill: #64570f;
  stroke: steelblue; }

i.GA-SC {
  color: #d3b720; }

.circle.CA {
  fill: #a28e43;
  stroke: #483f1e; }

.circle.CA:hover {
  fill: #483f1e;
  stroke: steelblue; }

i.CA {
  color: #a28e43; }

.circle.MD {
  fill: #3b503e;
  stroke: #050705; }

.circle.MD:hover {
  fill: #050705;
  stroke: steelblue; }

i.MD {
  color: #3b503e; }

.circle.WA {
  fill: #c27495;
  stroke: #7f3856; }

.circle.WA:hover {
  fill: #7f3856;
  stroke: steelblue; }

i.WA {
  color: #c27495; }

.circle.NJ {
  fill: #814eb7;
  stroke: #42275f; }

.circle.NJ:hover {
  fill: #42275f;
  stroke: steelblue; }

i.NJ {
  color: #814eb7; }

.circle.ND {
  fill: #d0c11b;
  stroke: #5f580c; }

.circle.ND:hover {
  fill: #5f580c;
  stroke: steelblue; }

i.ND {
  color: #d0c11b; }

.circle.VA {
  fill: #7dd7e4;
  stroke: #27a8bb; }

.circle.VA:hover {
  fill: #27a8bb;
  stroke: steelblue; }

i.VA {
  color: #7dd7e4; }

.circle.ID {
  fill: #a15ec9;
  stroke: #5e2a7d; }

.circle.ID:hover {
  fill: #5e2a7d;
  stroke: steelblue; }

i.ID {
  color: #a15ec9; }

.circle.MA {
  fill: #97b150;
  stroke: #4c5a28; }

.circle.MA:hover {
  fill: #4c5a28;
  stroke: steelblue; }

i.MA {
  color: #97b150; }

.circle.KY {
  fill: #2394b5;
  stroke: #0e3d4a; }

.circle.KY:hover {
  fill: #0e3d4a;
  stroke: steelblue; }

i.KY {
  color: #2394b5; }

.circle.MT {
  fill: #2257d9;
  stroke: #112b6b; }

.circle.MT:hover {
  fill: #112b6b;
  stroke: steelblue; }

i.MT {
  color: #2257d9; }

.circle.FL {
  fill: #c25e5e;
  stroke: #742c2c; }

.circle.FL:hover {
  fill: #742c2c;
  stroke: steelblue; }

i.FL {
  color: #c25e5e; }

.circle.VT {
  fill: #f17b1f;
  stroke: #884008; }

.circle.VT:hover {
  fill: #884008;
  stroke: steelblue; }

i.VT {
  color: #f17b1f; }

.circle.NM {
  fill: #957533;
  stroke: #362a12; }

.circle.NM:hover {
  fill: #362a12;
  stroke: steelblue; }

i.NM {
  color: #957533; }

.circle.UT {
  fill: #432cf1;
  stroke: #1a0a94; }

.circle.UT:hover {
  fill: #1a0a94;
  stroke: steelblue; }

i.UT {
  color: #432cf1; }

.circle.IL {
  fill: #d2681e;
  stroke: #62310e; }

.circle.IL:hover {
  fill: #62310e;
  stroke: steelblue; }

i.IL {
  color: #d2681e; }

.circle.WV {
  fill: #dda8b5;
  stroke: #b94c67; }

.circle.WV:hover {
  fill: #b94c67;
  stroke: steelblue; }

i.WV {
  color: #dda8b5; }

.circle.TN {
  fill: #c33628;
  stroke: #591912; }

.circle.TN:hover {
  fill: #591912;
  stroke: steelblue; }

i.TN {
  color: #c33628; }

.circle.WY {
  fill: #cc75e3;
  stroke: #9625b4; }

.circle.WY:hover {
  fill: #9625b4;
  stroke: steelblue; }

i.WY {
  color: #cc75e3; }

.circle.CO {
  fill: #9b429e;
  stroke: #431c44; }

.circle.CO:hover {
  fill: #431c44;
  stroke: steelblue; }

i.CO {
  color: #9b429e; }

.circle.MO {
  fill: #3ce4c1;
  stroke: #148d74; }

.circle.MO:hover {
  fill: #148d74;
  stroke: steelblue; }

i.MO {
  color: #3ce4c1; }

.circle.AR {
  fill: #9374c9;
  stroke: #533588; }

.circle.AR:hover {
  fill: #533588;
  stroke: steelblue; }

i.AR {
  color: #9374c9; }

.circle.IA-IL {
  fill: #c38da3;
  stroke: #894862; }

.circle.IA-IL:hover {
  fill: #894862;
  stroke: steelblue; }

i.IA-IL {
  color: #c38da3; }

.circle.MI {
  fill: #fc5cfd;
  stroke: #d603d7; }

.circle.MI:hover {
  fill: #d603d7;
  stroke: steelblue; }

i.MI {
  color: #fc5cfd; }

.circle.KS {
  fill: #a60cc7;
  stroke: #42054f; }

.circle.KS:hover {
  fill: #42054f;
  stroke: steelblue; }

i.KS {
  color: #a60cc7; }

.circle.DE {
  fill: #ae1614;
  stroke: #3c0807; }

.circle.DE:hover {
  fill: #3c0807;
  stroke: steelblue; }

i.DE {
  color: #ae1614; }

.circle.IN {
  fill: #9d77d3;
  stroke: #5c3199; }

.circle.IN:hover {
  fill: #5c3199;
  stroke: steelblue; }

i.IN {
  color: #9d77d3; }

.circle.PA {
  fill: #1830e5;
  stroke: #0c1872; }

.circle.PA:hover {
  fill: #0c1872;
  stroke: steelblue; }

i.PA {
  color: #1830e5; }

.circle.OR {
  fill: #e381cd;
  stroke: #bb2a9a; }

.circle.OR:hover {
  fill: #bb2a9a;
  stroke: steelblue; }

i.OR {
  color: #e381cd; }

.circle.ND-MN {
  fill: #a5b7f8;
  stroke: #2f58ef; }

.circle.ND-MN:hover {
  fill: #2f58ef;
  stroke: steelblue; }

i.ND-MN {
  color: #a5b7f8; }

.circle.AZ {
  fill: #a72517;
  stroke: #370c08; }

.circle.AZ:hover {
  fill: #370c08;
  stroke: steelblue; }

i.AZ {
  color: #a72517; }

.circle.CT {
  fill: #f447c6;
  stroke: #b10b85; }

.circle.CT:hover {
  fill: #b10b85;
  stroke: steelblue; }

i.CT {
  color: #f447c6; }

.circle.NE {
  fill: #ea4fcb;
  stroke: #a61489; }

.circle.NE:hover {
  fill: #a61489;
  stroke: steelblue; }

i.NE {
  color: #ea4fcb; }

.circle.MS {
  fill: #b12e9f;
  stroke: #4c1444; }

.circle.MS:hover {
  fill: #4c1444;
  stroke: steelblue; }

i.MS {
  color: #b12e9f; }

.circle.HI {
  fill: #9aa4fb;
  stroke: #1f35f6; }

.circle.HI:hover {
  fill: #1f35f6;
  stroke: steelblue; }

i.HI {
  color: #9aa4fb; }

.circle.MO-KS {
  fill: #9e2331;
  stroke: #360c11; }

.circle.MO-KS:hover {
  fill: #360c11;
  stroke: steelblue; }

i.MO-KS {
  color: #9e2331; }

.circle.NV {
  fill: #8716ce;
  stroke: #3c0a5b; }

.circle.NV:hover {
  fill: #3c0a5b;
  stroke: steelblue; }

i.NV {
  color: #8716ce; }

.circle.NH {
  fill: #fbad12;
  stroke: #8b5d02; }

.circle.NH:hover {
  fill: #8b5d02;
  stroke: steelblue; }

i.NH {
  color: #fbad12; }

.circle.MN {
  fill: #1fa54f;
  stroke: #0b3a1c; }

.circle.MN:hover {
  fill: #0b3a1c;
  stroke: steelblue; }

i.MN {
  color: #1fa54f; }

.circle.ME {
  fill: #fa6827;
  stroke: #9e3304; }

.circle.ME:hover {
  fill: #9e3304;
  stroke: steelblue; }

i.ME {
  color: #fa6827; }

.circle.RI {
  fill: #182698;
  stroke: #070a2a; }

.circle.RI:hover {
  fill: #070a2a;
  stroke: steelblue; }

i.RI {
  color: #182698; }

.circle.SD {
  fill: #3b67d0;
  stroke: #1b3471; }

.circle.SD:hover {
  fill: #1b3471;
  stroke: steelblue; }

i.SD {
  color: #3b67d0; }

.circle.MO-IL {
  fill: #90286c;
  stroke: #2c0c21; }

.circle.MO-IL:hover {
  fill: #2c0c21;
  stroke: steelblue; }

i.MO-IL {
  color: #90286c; }

.circle.DC-VA {
  fill: #1c702c;
  stroke: #030a04; }

.circle.DC-VA:hover {
  fill: #030a04;
  stroke: steelblue; }

i.DC-VA {
  color: #1c702c; }

.circle.VA-WV {
  fill: #cd6d1e;
  stroke: #5e320e; }

.circle.VA-WV:hover {
  fill: #5e320e;
  stroke: steelblue; }

i.VA-WV {
  color: #cd6d1e; }

.circle.parent {
  stroke: orange; }

.circle.max {
  stroke: #ff0000; }

/*# sourceMappingURL=app.css.map */
